
*{
    background-image: url("images/background.jpg");
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

section h1{
    max-width: 30rem;
    margin-top: 5rem;
    margin-bottom: 0rem;
    padding-left: 3rem;
    font-size:1cm;
}

img{
    padding-top: 1rem;
    padding-left: 4rem;
    width: 8rem;
}

.ill{
    list-style-type: none;
     display: flex;
     margin-left: 5rem;
     padding-left: 55rem;
     text-decoration: none;
}

div ul li{
    padding-top: 3rem;
    align-items: center;
    font-family: cursive;
    position: relative;
}
div ul li a
{
    color: aqua;

}
h1{
    font-family: 'Ubuntu', sans-serif;
}